<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/w3.css">
    <title>Website Project</title>
</head>
<body>

<div class="w3-container w3-teal">
    <h1>Website Project</h1>
    <p>Basic html, javascript, PHP & server setup. </p>
</div>

<div class="w3-row-padding">
    <div class="w3-third">
        <h2>A Stupid Star</h2>
        <p>Implement item descriptions, a <del>fake</del> shopping cart and a <del>fake</del> transaction system. </p>
        <p>Course project. Server-side database required. </p>
    </div>

    <div class="w3-third">
        <h2><a href="../public/kNOwhere.html">kNOwhere</a> </h2>
        <p>Welcome to the kNOwhere. </p>
        <p>Implement an anonymous comment system. </p>
    </div>

    <div class="w3-third">
        <h2 id="name">Your Name Here</h2>
        <p>Type in your name: </p>
        <form action="/" method="post">
            <input name="name" type="text" class="input" placeholder="Your Name Here" required>
            <input type="submit" class="button" value="Click Me">
        </form>
    </div>
</div>

<div class="w3-container w3-teal">
    <!--implement a random quote-->
    <p style="text-align: left"><a href="https://github.com/dqwerter">@DQwerter</a> # <a href="../public/404.html">Nothing</a> really matters. </p>
</div>

<script>
    <% if( nameAlert !== null){ %>
    <%  alert(nameAlert); %>
    <% } %>
</script>

</body>
</html>