<% include partials/header.ejs %>

<header class="w3-container w3-teal w3-center" style="padding:64px 16px">
    <h1 class="w3-margin w3-jumbo" id="title">kNOwhere</h1>
    <p class="w3-xlarge">Anonymous post system.</p>
    <p class="w3-xlarge">Current Time</p>
    <p class="w3-xlarge" id="curr_time">Time should be displayed here. </p>
</header>

</body>
</html>

<script>
    // TODO rewrite time display
  window.onload = function show(){
    const date = new Date(); //日期对象
    let weekday;
    switch (date.getDay()) {
      case 1:weekday = "Monday";break;
      case 2:weekday = "Tuesday";break;
      case 3:weekday = "Wednesday";break;
      case 4:weekday = "Thursday";break;
      case 5:weekday = "Friday";break;
      case 6:weekday = "Saturday";break;
      case 7:weekday = "Sunday";break;
    }
    document.getElementById("curr_time").innerHTML = date.toLocaleString() + " " + weekday;
    setTimeout("show()",1000); //设置过1000毫秒就是1秒，调用show方法
    }

</script>
