<% include partials/header.ejs %>


<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

        <!-- Left Column -->
        <div class="w3-third">

            <div class="w3-white w3-text-grey w3-card-4">
                <div class="w3-display-container">
                    <img src="/resources/avatar.png" style="width:100%" alt="Avatar">
                    <div class="w3-display-bottomleft w3-container w3-text-black">
                        <h2>秦旺</h2>
                    </div>
                </div>
                <div class="w3-container">
                    <p></p>
                    <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>学生 @南京邮电大学</p>
                    <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>中国，南京</p>
                    <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>dqwerter@outlook.com</p>
                    <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>+86 15800805488</p>
                    <hr>

                    <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>技能</b></p>
                    <p>数据结构</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
                    </div><br>
                    <p>C/C++</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:60%">
                            <div class="w3-center w3-text-white">60%</div>
                        </div>
                    </div><br>
                    <p>算法</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">40%</div>
                    </div><br>
                    <p>Python</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:35%">35%</div>
                    </div>
                    <br>

                    <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal">
                            </i>语言</b></p>
                    <p>中文</p>
                    <div class="w3-light-grey w3-round-xlarge">
                        <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
                    </div><br>
                    <p>英文</p>
                    <div class="w3-light-grey w3-round-xlarge">
                        <div class="w3-round-xlarge w3-teal" style="height:24px;width:65%"></div>
                    </div>
<!--                    <p>German</p>-->
<!--                    <div class="w3-light-grey w3-round-xlarge">-->
<!--                        <div class="w3-round-xlarge w3-teal" style="height:24px;width:25%"></div>-->
<!--                    </div>-->
                    <br>
                </div>
            </div><br>

            <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-twothird">

            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal">
                    </i>经历</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Successful Leadership</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2017年4月 - 2017年5月</h6>
                    <p>主要助教和小组组长<br>
                        以 A++，前 5% 完成课程. </p>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>大学生创新创业训练计划</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2017年5月 - 2018年5月</h6>
                    <p>成功主持完成省级项目。<br>以第一作者发布论文一篇。</p>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>学校经历</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2017年6月 - 2018年6月</h6>
                    <p>学生会办公室主任<br>秘书处媒体整合部部长<br>班级学习委员</p><br>
                </div>
            </div>

            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-xxlarge w3-text-teal">
                    </i>教育</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>学期交换 @加州大学圣地亚哥分校</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2018年9月 - 2018年12月</h6>
                    <p>在加州大学圣地亚哥分校完成了一学期学习与生活。</p>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>斯坦福大学学术文化交换项目</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2019年1月 - 2019年2月</h6>
                    <p>数据科学，机器学习，信号信号系统案例分析和设计思维。<br>
                        以 A+ 前 25% 成绩完成课程。同时完成了小组组长和部分助教工作。</p>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>南京邮电大学贝尔英才学院</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2016年9月 - <span class="w3-tag w3-teal w3-round">现在</span></h6>
                    <p>信息文科强化班，信息管理系统专业。</p><br>
                </div>
            </div>

            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-16">
                    <i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal">
                    </i>荣誉</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>一等奖学金</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2016年9月 - <span class="w3-tag w3-teal w3-round">现在</span></h6>
                    <p>前 3%</p>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>三好学生</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2016年9月 - <span class="w3-tag w3-teal w3-round">现在</span></h6>
                    <p>前 1%</p>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>美赛二等奖</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2018年</h6>
                    <p>美国大学生数学建模比赛二等奖</p><br>
                </div>
            </div>

            <!-- End Right Column -->
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>

<% include partials/footer.ejs %>

</body>
</html>