<% include partials/header.ejs %>

<header class="w3-container w3-teal w3-center" style="padding:64px 16px">
    <h1 class="w3-margin w3-jumbo" id="title">Resume</h1>
    <p class="w3-xlarge">Resume Here</p>
</header>

</body>
</html>