<% include partials/header.ejs %>


<!-- Header -->
<header class="w3-container w3-teal w3-center" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo" id="title">Get weather of your city.</h1>
    <form action="/weather" method="post">
        <input name="city" id="inputName" type="text" class="w3-xlarge" placeholder="Enter a City" required><br>
        <input id="startButton" type="submit" class="w3-button w3-black w3-padding-large w3-large w3-margin-top" value="Get Weather">
    </form>
    <% if(weather !== null){ %>
        <p class="w3-xlarge w3-padding-24"><%= weather %></p>
    <% } %>

    <% if(error !== null){ %>
        <p class="w3-xlarge w3-padding-24"><%= error %></p>
    <% } %>
</header>


<% include partials/footer.ejs %>


</body>
</html>