<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <link rel="stylesheet" href="/css/w3.css">
    <title>Weather</title>
</head>
<body>

<div class="w3-container w3-teal">
    <h1>Weather</h1>
    <p>Weather in your City. </p>
</div>

<div class="container" style="padding: 3px">
        <form action="/weather" method="post">
            <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
            <input type="submit" class="ghost-button" value="Get Weather">
        </form>
        <% if(weather !== null){ %>
            <p><%= weather %></p>
        <% } %>

        <% if(error !== null){ %>
            <p><%= error %></p>
        <% } %>
</div>
<div class="w3-container w3-teal">
    <!--implement a random quote-->
    <p style="text-align: left"><a href="https://github.com/dqwerter">@DQwerter</a> # <a href="404.html">Nothing</a> really matters. </p>
</div>
</body>
</html>